.logo{
    width :100%; height: 150px;
    background : rgba(185,50,52,0.8);
  }

  .logoName{
    margin:auto;
    padding-top:50px;
    font-size: 50px;
    color : white;
    font-weight: bold;
  }



  .reservationBtn{
    background: gray;
    color:aliceblue;
    width:50%; height:50px;
    border-radius: 15px;
    margin-top: 15%;
  }
  .cheakInInfo{
    width: 500px;
    height: 150px;
    margin : 0 auto;
    border : 3px solid rgba(255,0,0,0.5);
    border-radius:100px;
  }
  .image{
    margin: 0 auto;
    
  }